{% extends 'basic.html' %}


{% block content %}

<div class="page-header d-print-none">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">{{ t("admin_news_title") }}</h2>
    </div>
    <div class="col-auto ms-auto d-print-none">
      <a href="{{ url_for('news_edit', news_id=0) }}" class="btn btn-primary">{{ t("admin_btn_add") }}</a>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="table-responsive">
    <table class="table card-table table-hover">
      <thead>
        <tr>
          <th>{{ t("admin_label_title") }}</th>
          <th>{{ t("admin_label_publication_date") }}</th>
          <th>{{ t("admin_label_status") }}</th>
          <th class="w-1"></th>
        </tr>
      </thead>
      <tbody>
        {% for news in news_list %}
        <tr>
          <td class="align-middle">
            <div>{{ news.title }}</div>
          </td>
          <td class="align-middle">{{ news.published_at | datetimeformat }}</td>
          <td class="align-middle">
            {% if news.status == 'published' %}
            <span class="badge bg-success-lt">{{ t("admin_label_status_published") }}</span>
            {% elif news.status == 'archived' %}
            <span class="badge bg-secondary-lt">{{ t("admin_label_status_archived") }}</span>
            {% else %}
            <span class="badge bg-warning-lt">{{ t("admin_label_status_draft") }}</span>
            {% endif %}
          </td>
          <td class="align-middle">
            <a href="{{ url_for('news_edit', news_id=news.id) }}"
              class="btn btn-icon btn-outline-primary bg-primary-lt btn-sm px-2 py-1">
              {{ t("admin_btn_edit") }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex align-items-center">
    {% set start_idx = (page - 1) * 20 + 1 %}
    {% set end_idx = (page - 1) * 20 + news_list|length %}
    <p class="m-0 text-secondary">{{ t("admin_pagination_showing") }} <span>{{ start_idx }}-{{ end_idx }}</span> {{
      t("admin_pagination_of") }} <span>{{ total_news }}</span> {{ t("admin_pagination_entries") }}</p>
    <ul class="pagination m-0 ms-auto">
      <li class="page-item {% if page <= 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('news', page=page-1) }}" tabindex="-1" aria-disabled="true">
          <i class="ti ti-chevron-left"></i>
        </a>
      </li>
      {% for p in range(1, total_pages+1) %}
      <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link"
          href="{{ url_for('news', page=p) }}">{{ p }}</a></li>
      {% endfor %}
      <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('news', page=page+1) }}">
          <i class="ti ti-chevron-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}